site_name: nnbench
site_dir: public/docs
site_url: https://nnbench.github.io
repo_url: https://github.com/aai-institute/nnbench
edit_uri: edit/main/docs/

# To validate all internal links exist. Does not work in ipynb files
strict: true
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

copyright: Copyright &copy; 2024 <a href="https://appliedai-institute.de" target="_blank" rel="noopener">appliedAI Institute for Europe gGmbH</a><br>The appliedAI Institute for Europe gGmbH is supported by the KI-Stiftung Heilbronn gGmbH.

nav:
  - Home: index.md
  - quickstart.md
  - User Guide:
    - guides/index.md
    - guides/benchmarks.md
    - guides/organization.md
  - Examples:
    - tutorials/index.md
    - tutorials/mnist.md
  - API Reference: reference/
  - Contributing: CONTRIBUTING.md

# Rebuild docs in `mkdocs serve` for changes in source code
watch:
  - src/

plugins:
  - callouts
  - gen-files:
      scripts:
        - docs/_scripts/gen_api_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: numpy
            docstring_section_style: spacy
            line_length: 100
            show_bases: true
            show_if_no_docstring: true
            members_order: source
            separate_signature: true
            show_signature_annotations: true
            signature_crossrefs: true
            merge_init_into_class: false
            filters: ["!^_{1,2}"]
  - mike:
      canonical_version: latest
  - privacy
  - search:
  - include_dir_to_nav:
      file_pattern: '.*\.md$'

markdown_extensions:
  - neoteroi.cards  # https://www.neoteroi.dev/mkdocs-plugins/cards/
  # python-markdown extensions: https://python-markdown.github.io/extensions/
  - admonition
  - attr_list
  - sane_lists
  - toc:
      permalink: true
      toc_depth: 3
  # pymdown-extensions: https://facelessuser.github.io/pymdown-extensions/
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      url_download: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

theme:
  name: "material"
  custom_dir: docs/_theme_overrides
  logo: _images/aai-logo-cropped.png
  favicon: _images/aai-favicon.png
  font:
    text: IBM Plex Sans  # Arial replacement
    code: Source Code Pro
  icon:
    logo: _images/aai-favicon.png
    repo: fontawesome/brands/github
  features:
    - content.tabs.link
    - content.code.copy
    - content.code.annotate
    - content.action.edit
  palette:
    # Palette toggle for light mode
    - scheme: aai-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra:
  copyright_link: https://appliedai-institute.de
  homepage: https://nnbench.github.io
  generator: false
  pre_release: !ENV [DOCS_PRERELEASE, false]
  version:
    provider: mike
    default: latest
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/aai-institute/nnbench
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/nnbench
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/appliedai-institute-for-europe-ggmbh/
    - icon: fontawesome/solid/section
      link: https://appliedai-institute.de/impressum
      name: Impressum / Imprint

extra_css:
  - _styles/extra.css
  - _styles/theme.css
  - _styles/neoteroi-mkdocs.css
