name: Lint and test nnbench

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      MYPY_CACHE_DIR: "${{ github.workspace }}/.cache/mypy"
      RUFF_CACHE_DIR: "${{ github.workspace }}/.cache/ruff"
      PRE_COMMIT_HOME: "${{ github.workspace }}/.cache/pre-commit"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python and dependencies
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: pip
          cache-dependency-path: |
            requirements-dev.txt
            requirements-docs.txt
            pyproject.toml
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install -e . --no-deps
      - name: Cache pre-commit tools
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.MYPY_CACHE_DIR }}
            ${{ env.RUFF_CACHE_DIR }}
            ${{ env.PRE_COMMIT_HOME }}
          key: ${{ hashFiles('requirements-dev.txt', '.pre-commit-config.yaml') }}-linter-cache
      - name: Run pre-commit checks
        run: pre-commit run --all-files --verbose --show-diff-on-failure
  test:
    name: Test nnbench on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up oldest supported Python on ${{ matrix.os }}
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Run tests on oldest supported Python
      run: |
        python -m pip install ".[dev]"
        pytest
  docs:
    name: Publish latest documentation for nnbench
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python and dependencies
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
        cache: pip
        cache-dependency-path: |
          requirements-dev.txt
          requirements-docs.txt
          pyproject.toml
    - name: Install dependencies
      run: |
        pip install -r requirements-dev.txt -r requirements-docs.txt
        pip install -e . --no-deps
    - uses: ./.github/actions/mike-docs
      with:
        version: latest
        pre_release: true # include pre-release notification banner
        push: ${{ github.ref == 'refs/heads/main' }} # build always, publish on 'main' only to prevent version clutter
